body {
	padding-top: 20px;
	padding-bottom: 20px;
}
.container {
	max-width: 1150px;
}
.header {
	margin-bottom: 30px;
	border-bottom: 1px solid rgb(229, 229, 229);
}
.header h3 {
	margin-top: 0;
	margin-bottom: 0;
	line-height: 40px;
	padding-bottom: 19px;
}
h1 {
	margin-top: 0;
	margin-bottom: 20px;
}
label.text-muted {
	font-weight: 300;
}
.header h3 {
	margin-left: 65px;
	line-height: 1em;
	padding-bottom: 0;
}
td.timeInput {
	width: 110px;
}
td.dateInput {
	width: 107px;
}
td.jobInput {
	width: 222px;
}
td.paidInput {
	width: 75px;
}
td.button {
	width: 44px;
	vertical-align: middle !important;
}
td.timeOutput {
	width: 85px;
}
td.dateOutput {
	width: 80px;
}
td.paidOutput {
	width: 75px;
}
td.jobOutput {
	width: 223px;
}
textarea {
	resize: none;
}